<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge"
        >
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        >
        <link
            rel="stylesheet"
            href='/static/style.css'
        >
        <title>Document</title>
    </head>

    <body>
        <form> <input
                type="text"
                id="form"
                class="form"
                name="submission"
                placeholder="put something in this textbox"
            ></input>
            <button
                type="submit"
                id="button"
            > Click here to submit</button>
        </form>
        <div class="text-container">
            <p id="time-container">Time remaining: <span id='timer'></span> sec </p>
            <p id="score">here's your score: 0</p>
            <p id="response"></p>

        </div>

        <h1> {{ board }}</h1>
        <ul> blue people
            <!-- {% for this in that %}
            <li>{{board}}</li>
            <li>{{board}}</li>
            <li>{{board}}</li>
            <li>{{board}}</li>
            <li>{{board}}</li>
            {% endfor %}
 -->
        </ul>
        <div class="conatiner">
            <table>
                {% for row in board %}
                <tr>
                    {%for letter in row%}
                    <td> {{ letter }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <script src='http://unpkg.com/jquery'></script>
        <!-- <script src='http://unpkg.com/axios/dist/axios.min.js'></script> -->
        <script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
        <script src='/static/script.js'></script>
    </body>

</html>